.frank {
  background-image: url("https://blog.gaijinpot.com/app/uploads/sites/4/2017/08/Hatagaya-1024x683.jpg");
  width: 65%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 200px;
  padding-left: 200px;
  padding-right: 175px;
  float: left;
}

.gurmehr {
  width: 30%;
  margin-left: 65%;
  padding-top: 300px;
  padding-left: 100px;
}

.title {
  color: black;
  margin-top: 20%;
  margin-left: 20%;
}
